.center_div {
  margin: 0 0;
  align-content: center;
  padding-top: 45vh;
}

.form-control {
  margin-left: 5vw;
  margin-right: 5vw;
  min-width: 90vw;
}

.btn {
  align-content: center;
  margin-left: 50vw;
  margin-top: 5px;
  padding-left: 0;
  padding-right: 0;
  min-width: 80px;
}
